.header{
  background-color: #1C2B35;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 140px;
}

.header a{
  text-decoration: none;
  font-size: 17px;
  color: white;
  margin: 0px 0px 0px 36px;
  transition: 0.5s;
}

.header a:hover
{
  color: chartreuse;
  transition: 0.5s;
}